body {
  overflow-x: hidden;
}

.loading-page {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 999;
  animation: fadeOut 1s 6s forwards;
}
.loading-page > svg {
  position: relative;
  z-index: 999;
  width: 600px;
  height: 100px;
  font-family: "Aboreto", cursive;
}
.loading-page > svg > g > text {
  font-size: 40px;
  fill: transparent;
  stroke: rgba(255, 255, 255, 0.423);
  stroke-dasharray: 0 1000px;
  animation: para1 linear forwards 1s 1s;
}
.loading-page > svg > g > text:nth-of-type(2) {
  animation-delay: 1.2s;
  stroke-dasharray: 0 1000px;
}
.loading-page > svg > g > text:nth-of-type(3) {
  animation-delay: 1.4s;
  stroke-dasharray: 0 1000px;
}
.loading-page > svg > g > text:nth-of-type(4) {
  animation-delay: 1.6s;
  stroke-dasharray: 0 1000px;
}
.loading-page > svg > g > text:nth-of-type(5) {
  animation-delay: 1.8s;
  stroke-dasharray: 0 1000px;
}
.loading-page > svg > g > text:nth-of-type(6) {
  animation-delay: 2s;
  stroke-dasharray: 0 1000px;
}
.loading-page > svg > g > text:nth-of-type(7) {
  animation-delay: 2.2s;
  stroke-dasharray: 0 1000px;
}
.loading-page > svg > g > text:nth-of-type(8) {
  animation-delay: 2.4s;
  stroke-dasharray: 0 1000px;
}
.loading-page > svg > g > text:nth-of-type(9) {
  animation-delay: 2.6s;
  stroke-dasharray: 0 1000px;
}
.loading-page > svg > g > text:nth-of-type(10) {
  animation-delay: 2.8s;
  stroke-dasharray: 0 1000px;
}
.loading-page > svg > g > text:nth-of-type(11) {
  animation-delay: 3s;
  stroke-dasharray: 0 1000px;
}
.loading-page > svg > g > text:nth-of-type(12) {
  animation-delay: 3.2s;
  stroke-dasharray: 0 1000px;
}
.loading-page > svg > g > text:nth-of-type(13) {
  animation-delay: 3.4s;
  stroke-dasharray: 0 1000px;
}
.loading-page > svg > g > text:nth-of-type(14) {
  animation-delay: 3.6s;
  stroke-dasharray: 0 1000px;
}
.loading-page > svg > g > text:nth-of-type(15) {
  animation-delay: 3.8s;
  stroke-dasharray: 0 1000px;
}
.loading-page > svg > g > text:nth-of-type(16) {
  animation-delay: 4s;
  stroke-dasharray: 0 1000px;
}
.loading-page > svg > g > text:nth-of-type(17) {
  animation-delay: 4.2s;
  stroke-dasharray: 0 1000px;
}
@keyframes para1 {
  0% {
    stroke-dasharray: 0 1000px;
  }
  5% {
    stroke-dasharray: 0 1000px;
  }
  100% {
    stroke-dasharray: 1000px 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

.background {
  height: 100vh;
  background-color: #0d0d0d;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}
.background .v-background {
  border: 2px solid rgba(128, 128, 128, 0.438);
  width: 96%;
  height: 92%;
  position: relative;
  position: fixed;
}
.background .v-background > video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: fixed;
  position: relative;
  z-index: 2;
}

.left-side {
  position: absolute;
  height: 100%;
  margin-left: 0.1%;
  z-index: 5;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.left-side > * {
  padding-left: 30px;
  color: rgba(255, 255, 255, 0.814);
}
.left-side > h1 {
  height: auto;
  font-size: 45px;
  font-family: "Aboreto", cursive;
  margin-top: 30px;
}
.left-side > p {
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: -10px;
}
.left-side > ul {
  margin-top: 20px;
}
.left-side > ul > li {
  margin: 3px 0;
  padding: 0;
  text-transform: capitalize;
  list-style-type: none;
}
.left-side > ul > li > a {
  font-family: "Aboreto", cursive;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.814);
  font-weight: bold;
  font-size: 14px;
  transition: 0.7s;
  position: relative;
}
.left-side > ul > li > a:hover {
  color: rgba(128, 128, 128, 0.438);
}

.right-side {
  position: absolute;
  z-index: 5;
  height: 100%;
  right: 1%;
  display: flex;
  justify-content: end;
}
.right-side .Home-side {
  display: flex;
  display: none;
  flex-wrap: wrap;
  align-items: end;
  color: white;
  font-size: 14px;
  background-color: transparent;
}
.right-side .Home-side > p {
  padding-right: 10px;
  position: absolute;
  bottom: 0;
}
.right-side .Home-side:target {
  display: block;
  height: auto;
  overflow: auto;
}
.right-side .project-side {
  background-color: transparent;
  position: absolute;
  padding-top: 150px;
  display: none !important;
  text-align: right;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.right-side .project-side:target {
  display: block;
  height: auto;
  overflow: auto;
}
.right-side .project-side:target #content1 {
  background-color: red;
}
.right-side .project-side > div {
  height: 200px;
}
.right-side .project-side > div:nth-of-type(1) {
  height: 50px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
}
.right-side .project-side > div:nth-of-type(1) > span {
  width: 10px;
  height: 10px;
  background-color: white;
  margin-right: 10px;
}
.right-side .project-side > div:nth-of-type(1) > p {
  text-align: center;
  margin-top: 14px;
  color: rgba(255, 255, 255, 0.778);
  font-size: 16px;
  text-transform: capitalize;
}
.right-side .project-side > div .list-project {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
  margin-top: 3px;
}
.right-side .project-side > div .list-project:hover {
  position: relative;
}
.right-side .project-side > div .list-project:hover > * {
  color: rgba(128, 128, 128, 0.438) !important;
}
.right-side .project-side > div .list-project:hover::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 75%;
  right: 40%;
  width: 150px;
  height: 100px;
  background-size: cover;
  z-index: 999;
  pointer-events: none;
}
.right-side .project-side > div .list-project:nth-of-type(1):hover::before {
  background-image: url(../images/Screenshot\ 2023-09-14\ 150614.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.right-side .project-side > div .list-project:nth-of-type(2):hover::before {
  background-image: url(../images/Screenshot\ 2023-09-14\ 150700.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.right-side .project-side > div .list-project:nth-of-type(3):hover::before {
  background-image: url(../images/Screenshot\ 2023-09-14\ 150718.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.right-side .project-side > div .list-project:nth-of-type(4):hover::before {
  background-image: url(../images/Screenshot\ 2023-09-14\ 150749.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.right-side .project-side > div .list-project:nth-of-type(5):hover::before {
  background-image: url(../images/Screenshot\ 2023-09-14\ 150804.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.right-side .project-side > div .list-project:nth-of-type(6):hover::before {
  background-image: url(../images/Screenshot\ 2023-09-14\ 150821.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.right-side .project-side > div .list-project .year {
  font-size: 13px;
  color: white;
  text-decoration: none;
  width: auto;
  margin-top: 20px;
  letter-spacing: 1px;
  transition: 0.4s;
}
.right-side .project-side > div .list-project .prj {
  margin-left: 15px;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.778);
  text-decoration: none;
  font-family: "Aboreto", cursive;
  letter-spacing: 2px;
  transition: 0.4s;
}
.right-side .project-side > div .list-project:nth-of-type(1) {
  margin-top: 50px;
}
@media (max-width: 992px) {
  .right-side .project-side > div .list-project .year {
    font-size: 12px;
    width: 100%;
  }
  .right-side .project-side > div .list-project .prj {
    font-size: 40px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .right-side .project-side > div .list-project .list-project > * {
    width: 100%;
  }
  .right-side .project-side > div .list-project .year {
    font-size: 11px;
  }
  .right-side .project-side > div .list-project .prj {
    font-size: 35px;
  }
}
.right-side .project-side:target {
  display: block !important;
}
.right-side .info-side {
  background-color: transparent;
  position: absolute;
  display: none;
  position: relative;
}
.right-side .info-side:target {
  display: block;
  height: auto;
  overflow: auto;
}
.right-side .info-side > div {
  height: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: 3%;
}
@media (min-width: 768px) {
  .right-side .info-side {
    left: 30.5%;
  }
}
@media (min-width: 933px) {
  .right-side .info-side {
    left: 44%;
  }
}
.right-side .info-side .pic {
  position: absolute;
  width: 230px;
  height: 250px;
  top: 24%;
}
.right-side .info-side .pic > img {
  border: 1px solid rgba(128, 128, 128, 0.173);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 768px) {
  .right-side .info-side .pic {
    top: 15%;
  }
}
.right-side .info-side .prg {
  position: absolute;
  top: 65%;
  font-size: 13px;
  color: white;
  text-align: center;
}
@media (min-width: 768px) {
  .right-side .info-side .prg {
    top: 55%;
  }
}
.right-side .info-side .prg > p > a {
  text-decoration: none;
  color: rgba(250, 250, 250, 0.459) !important;
}
.right-side .contact-side {
  background-color: transparent;
  display: none !important;
  display: flex;
  padding-top: 60%;
  text-align: right;
}
.right-side .contact-side:target {
  display: block !important;
  height: auto;
  overflow: auto;
}
@media (min-width: 768px) {
  .right-side .contact-side {
    padding-top: 0%;
  }
}
.right-side .contact-side > * {
  text-align: right;
  margin: 20px 0;
  padding-right: 5%;
}
.right-side .contact-side > div:nth-of-type(1) {
  margin-top: 55%;
}
.right-side .contact-side > div:nth-of-type(2) {
  margin-top: 8%;
}
.right-side .contact-side > div > div {
  color: white;
  display: flex;
  flex-wrap: nowrap;
  justify-content: end;
  font-weight: bold;
}
.right-side .contact-side > div > div:hover > * {
  color: rgba(128, 128, 128, 0.438);
}
.right-side .contact-side > div > div > a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  transition: 1s;
}
.right-side .contact-side > div > div > svg {
  margin-top: 5px;
  width: 10px;
  height: 10px;
  transition: 1s;
}

.side {
  position: absolute;
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  bottom: 135px;
  left: -165px;
  z-index: 5;
  transform: rotate(270deg);
  color: rgba(255, 255, 255, 0.596);
  font-size: 13px;
}

.scrollable-content {
  display: none;
  overflow-y: auto;
  overflow-x: visible;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollable-content::-webkit-scrollbar {
  width: 0.1rem;
}
.scrollable-content::-webkit-scrollbar-thumb {
  background-color: transparent;
}/*# sourceMappingURL=master.css.map */